<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>图片列表管理</title>


</head>
<link rel="stylesheet" href="../static/css/style.default.css">
<link rel="stylesheet" href="../static/css/bootstrap.min.css">
<script src="../static/js/jquery-1.9.1.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script>

    function  restoration (id){
        if (confirm("是否归还图书？")){
            $(function () {

                var url="/book/restorationBook?bookId="+id ;
                $.get(url,function (msg) {
                    //如果归还成功， 则弹框提示用户，并且刷新当前页面
                    if (msg==1){
                        alert("图书归还成功！")
                        //重新加载页面
                        location.href= "/book/queryBookList";
                    }else{
                        alert("图书归还失败！")
                    }
                })
            })
        }
    }

    /**
     * 去添加页面
     */
    $(function () {
        $("#toAdd").click(function () {
            window.location.href="/book/toBookAdd"
        })
    })



    /**
     * 点赞功能
     * @param id
     */
    function updown(id) {
        $(function () {
            var url = "/book/updown?id="+id ;
            $.get(url,function (msg) {
                 if(msg == "yes"){
                     alert("点赞成功！")
                 }else if(msg == "no"){
                     alert("图片已经点赞，不能重复点击！")
                 }else if (msg == "noLogin"){
                     alert("没有登录，不能点赞");
                 }
            })
        })
    }

    //获取一下数据库中的数据
    function queryBorrwing(id) {
        $(function () {
            var url = "/borro/queryBookBorrowingList?bookId="+id;
            $("#queryBorroingInfoList").html("<tr></tr>");


                $.getJSON(url,function (list) {
                        if(list!=null){
                            //数据的拼接
                            var append = "" ;
                            for(var i = 0;i<list.length ;i++){
                                //时间处理
                               // var time = new Date(list[i].borrowingTime);
                                 append += " <tr>" +"<td>" +(i+1)+"</td>"+
                                       "<td>"+list[i].bookName+"</td>"+
                                        "<td>"+list[i].borrowingTime+"</td>"+
                                       "<td>"+list[i].loginName+"</td>"+"</tr>" ;
                            }
                            $("#queryBorroingInfoList").append(append);

                        }
                })
        })
    }

 $(function () {
     $("#removeSessionToLogin").click(function () {
         window.location.href="/user/removeSessionToLogin" ;
     })
 })

</script>

<body>
<div  th:include="common.html"></div>

<div>
    <button id="removeSessionToLogin" class="btn-default">注销</button>
</div>
<div>
    <form th:action="@{/book/queryBookList}" autocomplete="off">
        书籍借出时间区间:<input type="text" name="startTime" class="datetimepicker"> - <input type="text" name="endTime" class="datetimepicker">
        书籍名称:<input type="text" name="bookName">
        <button type="submit" class="btn-success">查询</button>

    </form>

</div>

<div>
    <button class="btn-success" id="toAdd">添加图书</button>
</div>

<table class="table-bordered ">
    <thead>
    <th>编号</th>
    <th>书籍名称</th>
<!--    <th>简介</th>-->
    <th>作者</th>
    <th>借阅次数</th>
    <th>租借的状态</th>
    <th>书籍封面</th>
    <th>最近借出时间</th>
    <th>点击量</th>
    <th>编辑</th>
    </thead>
    <tbody>
    <!--      <tr th:each="book,bookStat:${bookList}">    book+stat     -->
    <tr th:each="book,bookStat:${bookList}">
        <td th:text="${bookStat.index+1}"></td>
        <td th:text="${book.bookName}"></td>
      <!--  <td  th:text="${book.bookIntroduce}"></td>-->
        <td th:text="${book.bookAuthor}"></td>
        <td th:text="${book.borrowingCount}"></td>
        <td th:text="${book.borrowingFlag}"></td>
        <td>
            <img th:src="@{${book.picUrl}}" style="width: 60px;height: 60px" alt="图片">
        </td>
        <td th:text="${#dates.format(book.borrowingNewTime,'yyyy-MM-dd HH:mm:ss')}"></td>
        <td th:text="${book.traffic}"></td>
        <td>
            <span th:if="${book.flag} eq '0' " ><button class="btn-info"><a th:href="@{/book/lendBook(bookId=${book.id})}">借出</a></button></span>
            <span th:if="${book.flag} eq '1' " ><button class="btn" th:onclick="restoration([[${book.id}]])">归还</button></span>
               <span><button class="btn btn-primary" th:onclick="queryBorrwing([[${book.id}]])" data-toggle="modal" data-target="#myModal">借阅记录</button></span>
            <span> <button class="btn-danger" th:onclick="updown([[${book.id}]])">点赞</button></span>
            <sapn><button class="btn-info"><a th:href="@{/book/toQueryBookInfo(bookId=${book.id})}">查看详情</a></button></sapn>

        </td>
    </tr>

    </tbody>

</table>






<!--模态框-->
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg" >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    借阅记录
                </h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row clearfix">
                        <div class="col-md-10 column">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>
                                        编号
                                    </th>
                                    <th>
                                       图书名称
                                    </th>
                                    <th>
                                       借阅时间
                                    </th>
                                    <th>
                                       借阅用户
                                    </th>
                                </tr>
                                </thead>
                                <tbody id="queryBorroingInfoList">

                              </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

</body>
</html>